<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>   
    </div><!-- /.container-fluid -->
</nav>
<uib-progressbar ng-show="navctrl.loading" class="progress-striped active" max="100" value="100" type="success"></uib-progressbar>
<div class="progress-spacer" ng-hide="navctrl.loading"></div>